<main>
    <h1>Nosotros</h1>
    <img class="der" src="images/nosotros.jpg" alt="nosotros" style="width:600px" ; height="400px">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque tempore assumenda ullam fugit impedit temporibus vero, accusamus ratione voluptatibus dolores sapiente excepturi? Rem ullam at provident non, sunt natus labore.</p>
</main>